.classes_step_image {
  padding-left: 15px;
}

.classes_row {
  margin-top: 25px;
}

.classes_lg_row {
  margin-top: 35px;
  border-bottom: 1px solid #CCC;
  h4 {
    margin-bottom: 0;
  }
}

.classes_table {
  margin-top: 10px;
}

.classes_separator {
  margin: 17px 0 0 0;
}

#csv_upload_link {
  text-decoration: underline;
  font-size: 16px;
}

#classes_submit_button {
  margin-top: 20px;
}
::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;
}

:-ms-input-placeholder {
   text-align:center;
}

.class_tooltip {
  &.pending {
    text-decoration: underline;
  }
}

a.class_tooltip {
  color: #000;
}

.selected {
  font-weight: bold;
}