{% extends 'dynamic_base.html' %}

{% load staticfiles %}

{% block foot_js %}
    {{ block.super }}
    <script src="{% static 'account/js/min/account.min.js' %}"></script>
{% endblock %}

{% block dynamic_content %}
    <div class="row">
        <div class="col-md-3">
            <h3 class="small-header">General Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span class="account-details">Email: {{ request.user.email }}
                <br/>
                {% if request.user.account_type == "personal" %}
                    Account Type: Student Account
                {% else %}
                    Account Type: Instructor Account
                {% endif %}
            </span>
        </div>
        <div class="col-md-3">
            <span class="account-details">
                Classes:
                {% for att in attendance %}
                    <a href="{% url 'classes:update' att.classroom.id %}">{{ att.classroom.name }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                    None
                {% endfor %}
                <br/>
                {% if license_expiration %}
                 My license expires on {{ license_expiration }}
                {% endif %}
            </span>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <hr class="separator"/>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <h3 class="small-header">License Manager</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="account-details">License Type: {{ license }}<br/>
            {% if not license_expiration %}
                {% if not has_unused_license %}
                    You do not currently have any licenses associated with your account.
                {% endif %}
            {% else %}
                Your current license will expire on {{ license_expiration }}</span><br/>
                {% if has_unused_license %}
                    <span class="account-details">
                        {% if license_count > 1 %}
                            You also have another <span id="license_count">{{ license_count }}</span> licenses. You can send them to your team members or friends via e-mail.
                        {% else %}
                            You also have another license. You can send them to your team members or friends via e-mail.
                        {% endif %}
                    </span><br/><br/>

            <form id="send_invites_form" action="#" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-md-12">
                        {{ invite_form.recipients }}
                    </div>
                </div>
                <input type="submit" id="send_invites" value="Send Invites" class="btn btn-primary"/>
            </form>
            <table class="table table-condensed table-hover hidden" id="invites_sent">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Existing Member</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

                    {% endif %}
                {% endif %}
                {% if license_expiration == False %}
                     {% if has_unused_license %}
                        <div class="long_container">
                            You current license is that of a Free User. You have limited access to the application. However you have bought a license and did not activate it yet.
                        <a href="{% url 'account:index' %}?activate=yes" class="red_text">Click Here and Activate it!</a>
                        </div>
                    {% else %}
                         <div class="long_container">
                            {% if account_type == 'enterprise' %}
                                <a href="{% url 'account:upgrade' %}" class="red_text">Activate a License Code or purchase one or more now for your students.</a>
                            {% else %}
                                <a href="{% url 'account:upgrade' %}" class="red_text">Activate a License Code or purchase one now.</a>
                            {% endif %}
                         </div>
                    {% endif %}
                {% endif %}
                {% if request.user.account_type == 'enterprise' and license_expiration %}
                    <div class="long_container">
                        Purchase additional licenses for your students <a href="{% url 'account:checkout' %}">here</a>
                    </div>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <hr class="separator"/>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <h3 class="small-header">Change Password</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span class="error_text">{{ pwChangeForm.non_field_errors }}</span>
            {% if success == True %}
                <span class="success_text">Password Changed Successfully!</span>
            {% endif %}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <form action="{% url 'account:index' %}" method="post" class="form-horizontal" >
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label sr-only">Old Password</label>
                    <div class="col-sm-10">
                      {{ pwChangeForm.old_password }}
                    </div>
                      {{ pwChangeForm.old_password.errors }}
                </div>
                <div class="form-group">
                    <label class="control-label sr-only">New Password</label>
                    <div class="col-sm-10">
                      {{ pwChangeForm.new_password1 }}
                    </div>
                      {{ pwChangeForm.new_password1.errors }}
                </div>
                <div class="form-group">
                    <label class="control-label sr-only">New Password Confirm</label>
                    <div class="col-sm-10">
                      {{ pwChangeForm.new_password2 }}
                    </div>
                      {{ pwChangeForm.new_password2.errors }}
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                      <input type="submit" class="btn btn-success" value="Change Password"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}