{% extends 'modal_list_base.html' %}

{% block table_header %}
    <tr>
        <th>Class Name</th>
        <th>Date Created</th>
        {% if request.user.account_type == 'enterprise' %}
        <th>Action</th>
        {% endif %}
    </tr>
{% endblock %}

{% block table_body %}
    {% for class in class_list %}
        <tr>
            {% if request.user.account_type == 'enterprise' %}
                <td><a href="{% url 'classes:update' class.pk %}">{{ class.name }}</a></td>
            {% else %}
                <td><a href="{% url 'classes:detail' class.code %}">{{ class.name }}</a></td>
            {% endif %}

            <td>{{ class.creation }}</td>

            {% if request.user.account_type == 'enterprise' %}
                <td><a href="{% url 'classes:delete' class.pk %}">Delete</a></td>
            {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No Classes</td>
        </tr>
    {% endfor %}
    {% if request.user.account_type == 'enterprise' %}
    <tr>
        <td colspan="3"><span class="glyphicon glyphicon-plus"></span> <a href="{% url 'classes:create' %}">New Class</a></td>
    </tr>
    {% endif %}
{% endblock %}
