{% extends 'static_base.html' %}

{% block content %}

    {% include 'main/partials/header.html' %}

<article class="col-lg-9 content-col">
      <div class="row">
        <article class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
          <div class="row text-center">
            <h1 class="slogan-black">What can we help you with?</h1>
            <h4 class="slogan-gray-light">We’d love to hear from you.</h4>
          </div>
          <div class="row contact-area">
              <h3>Thanks! We received your email and we'll get back to you within 24-48 hours.</h3>
          </div>
        </article>
      </div>
</article>

{% endblock %}