{% extends 'static_base.html' %}

{% load staticfiles %}

{% block content %}

    {% include 'main/partials/header.html' %}

<article class="col-lg-9 content-col">
      <div class="row">
        {% include 'main/partials/contact_form.html' with contact_header='What can we help you with?' contact_subheader='We’d love to hear from you.' %}
          <div class="row contact-faq">
            <div class="row text-center">
              <h1 class="slogan-black">Frequently Asked Questions</h1>
              <article class="col-lg-12 faqs faq text-left">
                <p class="slogan-black">What can we help you with?</p>
                <p class="slogan-gray-light">The answer to the question will go here. The answer to the question will go here. The answer to the question will go here.</p>
                <br>
              </article>
              <article class="col-lg-12 faq text-left">
                <p class="slogan-black">What can we help you with?</p>
                <p class="slogan-gray-light">The answer to the question will go here. The answer to the question will go here. The answer to the question will go here.</p>
                <br>
              </article>
              <article class="col-lg-12 faq text-left">
                <p class="slogan-black">What can we help you with?</p>
                <p class="slogan-gray-light">The answer to the question will go here. The answer to the question will go here. The answer to the question will go here.</p>
                <br>
              </article>
            </div>
          </div>
          </article>

      </div>

      </div>
    </article><!-- /.content-col -->
  </div><!-- /.main -->
</article><!-- /.container -->

{% endblock %}